body {
  font-family: 'Inter', sans-serif;
  
  
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}
h4{
  color: black;
}

.stats-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 20px;
  margin-top: 100px;
}

.employee-card {
  background: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s;
}

.employee-card:hover {
  transform: scale(1.02);
}

.employee-card h2 {
  margin-bottom: 10px;
  color: #1e2a38;
}

.employee-card p,
.employee-card li {
  margin: 5px 0;
  color: #444;
}

.employee-card ul {
  padding-left: 20px;
}



.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  text-align: center;
}

#bonusChart {
  width: 700px !important;
  height: 700px !important;
}
