.employee-stats {
    background: #fdfdfd;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
}
.employee-stats h2, .employee-stats h3 {
    color: #333;
}
p{
    color: black;
}
#attendanceChart {
    width: 350px !important;
    height: 350px !important;
    max-width: 100%;
    display: block;
    margin: 20px auto;
    margin-left: 600px;
    align-items: center;
    
}
#salaryChart {
    width: 600px !important;
    height: 300px !important;
    
    
}
.salary-container{
    display: flex;
    justify-content: space-between;
}
.attendance-title{
    margin-left: 680px;
}
.salary-title{
    margin-left: 680px;
}
.attendance{
    display: flex;
    
    
}


