body {
  background-color: black;
  color: white;
  margin: 40px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  min-width: 200px;
}

h2 {
  color: rgb(255, 255, 255);
  text-align: center;
}

h1 {
  color: #333;
}

/*delete employee*/
.delete_employee {
  width: 50%;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  h2 {
    color: #d9534f;
    font-size: 24px;
  }

  p {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
  }

  form {
    margin-top: 20px;
  }

  form .button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
  }

  form .button.is-primary {
    background: #d9534f;
    color: white;
  }

  form .button.is-primary:hover {
    background: #c9302c;
  }

  form a,
  a {
    display: inline-block;
    margin-top: 15px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }

  form a:hover,
  a:hover {
    text-decoration: underline;
  }
}
